@charset "UTF-8";

#btn-container {
    width: 100%;
    height: 11.6%;
    display: flex;
}

#btn-container>div {
    width: 50%;
}

.page-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
    border-right: 3px solid #674f80;
}

.pdf-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrap-one {
    width: 175px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-site {
    width:45%;
    height: 50px;
    font-size:17px;
    border: 2px solid #674f80;
    border-radius: 0;
    background-color:#FFF9EE;
    color: #674f80;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.go-site:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #674f80;
    z-index: -1;
    transition: width 150ms ease-in-out;
}

/* .go-site:hover {
    color: #FFF9EE;
}*/

.go-site:hover:after {
    width: 110%;
}