*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
ul,li,ol{
    list-style:none;
}
a{
    text-decoration: none;
    color:#333;
}
body{cursor:none;}

/* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ====================================================== */
#wrap{
    width:100vw;
    height:100vh;
    background-color:#fff9ee;
    position:relative;
    font-size:16px;
    overflow: hidden;
    font-size:16px;
}
/* ================== [ 돌아가는 글씨 ] ======================= */
.repeat-circle{
    width:57px;
    height:57px;
    background-color: #674f80;
    position:absolute;
    top:34px;
    left:29px;
    border-radius: 50%;
    z-index:2;
}
.repeat{
    width:85px;
    position:absolute;
    top:20px;
    left:15px;
    animation:rotate-circle 13s linear infinite;
    z-index:2;
}
@keyframes rotate-circle{
    100%{transform:rotate(360deg)}
}

/* ========== 마우스 따라 효과 ========== */
.cursor{
    z-index:99;
    border-radius: 50%;
    position:absolute;
    transform:translate(-50%, -50%);
    pointer-events: none;
    font-size:20px;
    color:pink;
}

/* ========== 스크롤 마우스 애니메이션 ========== */
.mouse{
    width:30px;
    height:45px;
    border:3px solid #674f80;
    position:fixed;
    bottom:33px;
    left:50%;
    border-radius: 14px;
    text-align: center;
}
.scroll_move{
    width:5px;
    height:5px;
    background-color: #674f80;
    display:block;
    position:absolute;
    top:5px;
    left:39.5%;
    border-radius: 50%;
    animation:scroll1 1.3s linear infinite;
}
@keyframes scroll1{
    0%{top:5px}
    100%{top:15px}
}

