@charset "UTF-8";

.intro-wrap{
    width:100vw;
    height:100vh;
    overflow: hidden;
    z-index:100;
    position:absolute;
}

.intro{
    width:100vw;
    height:100vh;
    position:relative;
    animation:disappear 3s 1s ease-in-out both;
    animation-delay:3.5s;
    background-color: #674f80;
}
.opendoor > div{
    background-size:100%;
    background-repeat: no-repeat;
    position:absolute;
    top:24.9%;
    left:40.9%;
    margin-left:-40px;
}
.opendoor .opendoor_inside{
    width:348px;
    height:460px;
    background:url("../img/door_inside.png");
    perspective: 300px;
}
.opendoor .opendoor_outside{
    width:353px;
    height:463px;
    background:url("../img/door_outside.png");
    position:absolute;
    top:24.8%;
    left:40.85%;
    transform-origin: right;
    animation:opendoor 3s 1s ease-in-out both;
    animation-delay:1.5s;
    transform:rotateY(0deg);
    transition:all;
}

@keyframes opendoor {
    0% {transform:rotateY(0deg) skewY(0deg);}
    100% {transform:rotateY(75deg) skewY(10deg);}
}
@keyframes disappear{
    0% {transform:scale(1);}
    50% {opacity:1}
    100%{transform:scale(5); opacity:0}
}

.knock{
    color:#fff9ee;
    font-size:28px;
    position:absolute;
    z-index:5;
    animation:twinkle 0.5s 0.5s linear;
    opacity:0;
}
.knock:nth-of-type(1){
    transform:rotate(20deg);
    top:49%;
    left:44%;
}
.knock:nth-of-type(2){
    transform:rotate(45deg);
    top:45.5%;
    left:45%;
}
.knock:nth-of-type(3){
    transform:rotate(90deg);
    top:44%;
    left:47%;
}
.knock:nth-of-type(4){
    transform:rotate(135deg);
    top:45%;
    left:49%;
}
.knock:nth-of-type(5){
    transform:rotate(170deg);
    top:49%;
    left:50%;
}
@keyframes twinkle{
    0%{opacity:1}
    25%{opacity:0}
    50%{opacity:1}
    75%{opacity:0}
    100%{opacity:1}
}
.circle{
    width:60px;
    height:60px;
    border-radius: 50%;
    position:absolute;
    top:49%;
    left:46%;
    z-index:10;
    color:#fff9ee;
    font-weight: bold;
    text-align: center;
    line-height:40px;
    font-size:26px;
    animation:hand 0.5s 0.5s linear;
    text-shadow:2px 2px 4px #333;
    transform:scale(1.3);
}
@keyframes hand{
    0%{transform:scale(1)}
    25%{transform:scale(1.3)}
    50%{transform:scale(1)}
    75%{transform:scale(1.3)}
    100%{transform:scale(1)}
}
.intro p{
    position:absolute;
    top:50%;
    left:-85px;
    color:#fff9ee;
    transform:rotate(270deg);
    letter-spacing: 25px;
}


/* ===== 닫히는 문 ===== */
.outro-wrap{
    width:100%;
    height:100vh;
    overflow: hidden;
    z-index:30;
    position:absolute;
    background-color: #674f80;
}
@keyframes closedoor {
    0% {transform:rotateY(75deg) skewY(10deg)}
    100% {transform:rotateY(0deg) skewY(0deg)}
}
.closedoor > div{
    background-size:100%;
    background-repeat: no-repeat;
    position:absolute;
    top:24.9%;
    left:40.9%;
    margin-left:-40px;
}
.closedoor .closedoor_inside{
    width:348px;
    height:460px;
    background:url("../img/door_inside.png");
    perspective: 300px;
}
.closedoor .closedoor_outside{
    width:353px;
    height:463px;
    background:url("../img/door_outside.png");
    position:absolute;
    top:24.8%;
    left:40.85%;
    transform-origin: right;
    transform:rotateY(75deg) skewY(10deg);
    transition:all;
}
.outro_closedoor{
    animation:closedoor 3s ease-in-out both;
}
.outro_closedoor_trans{
    animation:opendoor 1s ease-in-out both;
}
.outro p:nth-of-type(1){
    position:absolute;
    top:50%;
    left:-85px;
    color:#fff9ee;
    transform:rotate(270deg);
    letter-spacing: 25px;
}
.outro p:nth-of-type(2){
    position:absolute;
    top:12%;
    left:41%;
    color:#fff9ee;
    letter-spacing: 20px;
    font-size:20px;
}