@charset "UTF-8";

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ========== 기본 css ==========*/
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    position:relative;
}
/* ========== swiper-slide ========== */
.scroll-swiper{
    width:86% !important;
    margin:0 0 50px 14% !important;
}
.swiper-slide .swiper-h{
    width:86% !important;
    margin:0 0 0 14% !important;
}


/* ===== [ 스와이프 문구 ] ===== */
.try{
    font-size:50px;
    color:#674f80;
    position:absolute;
    top:30px;
    left:19%;
}
.swiper-slide>h1>.go-right{
    opacity:0;
}
.swiper-slide>h1>.go-right:nth-of-type(1){
    animation:trySwipe 1.5s .5s linear infinite;
}
.swiper-slide>h1>.go-right:nth-of-type(2){
    animation:trySwipe 1.5s 1s linear infinite;
}
.swiper-slide>h1>.go-right:nth-of-type(3){
    animation:trySwipe 1.5s 1.5s linear infinite;
}
@keyframes trySwipe{
    0%{opacity:0}
    50%{opacity:1}
    90%{opacity:0}
}

/* ========== pagination ========== */
.nav{
    width:14%;
    height:100vh;
    padding:18% 2% 0;
    color:#674f80;
    border-right:3px solid #674f80;
    left:var(--swiper-pagination-left,0px) !important; 
    right:var(--swiper-pagination-right,0px) !important; 
    
}
.nav>.swiper-pagination-bullet{
    width:var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,0px)) !important;
    height:var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,85px)) !important;
    font-weight: bold !important;
    font-size:30px;
    font-family: 'SBAggroB';
}
.nav>.swiper-pagination-bullet:hover{
    animation:pulse .4s linear;
}

.swiper-button-prev{
    left:var(--swiper-navigation-sides-offset, 35px) !important;
    color:#674f80;
}
.swiper-button-next{
    right:var(--swiper-navigation-sides-offset,30px) !important;
    color:#674f80;
}

/* project_nav(pagination) */
.nav1{
    left:15px !important;
}
.nav1>.swiper-pagination-bullet{
    width:var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
    height:var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
    margin:0 var(--swiper-pagination-bullet-horizontal-gap,8px) !important;
}
.nav1> .swiper-pagination-bullet-active{
    background-color:#674f80;
}

/* ========== < 프로필 > ========== */
.profile-wrap{
    display:block !important;
    position: relative;
}
.text-box{
    width:950px;
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    animation:goTop 3s 13s both;
}
@keyframes goTop{
    0%{transform:translate(-50%, -50%);}
    30%{opacity:1}
    100%{transform: translate(-50%, -400%); opacity:0}
}

.profile{
    width:1400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -45%);
    opacity: 0;
    animation:imgShow 1.5s 15.5s both;
    text-align: left;
    display:flex;
    justify-content: space-evenly;
}
@keyframes imgShow{
    100%{opacity:1;}
}
.profile>h1{
    font-size:40px;
    position:absolute;
    top:-80px;
    left:56px;
}
.profile-img{
    width:30%;
    display:flex;
    justify-content: center;
    border:3px solid #333;
}
.profile-img img{
    width:100%;
    height:100%;
}

.profile-box{
    width:55%;
}
.profile-box ul{
    padding:0 0 25px;
}
.profile-box ul li{
    display:flex;
    padding:7px 0;
    font-size:20px;
}
.profile-box ul li b{
    font-size:25px;
}
.profile-box ul li p:nth-of-type(1){
    padding-left:20px;
}
.profile-box ul li p:nth-of-type(2){
    padding-left:15px;
}


/* ========= 스킬 =========*/
.skill-wrap{
    /* width:1245px; */
    width:80%;
    height:75%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap:30px 0;
}
@media(min-width:1930px){
    .skill-wrap{
        width:90%;
    }
}

.skill-wrap>div{
    /* width:270px; */
    width:230px;
    height:100%;
    text-align: center;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px #674f80;
}
.skill-wrap>div img{
    width:100px;
    height:100px;
    margin-bottom:15px;
}
.skill-wrap>div:nth-of-type(9) img{
    width:70%;
    height:45%;
}
.skill-git{
    width:100px;
    height:100px;
    margin-bottom:15px;
    font-size:100px;
}
.skill-wrap>div>p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.skill-text{
    width:100%;
    height:100%;
    padding:20px;
    background-color:rgba(103, 79, 128,0.9);
    color:#fff;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.skill-text p{
    line-height:25px;
}
.skill-hd{
    height:13%;
    font-size:50px;
    padding:20px 30px;
    color:#674f80;
    display:flex;
    align-items: center;
    margin-left:50px;
}


/* ===== [ 타이핑효과 css ] ===== */
.text{
    font-size:35px;
    font-weight: bold;
    letter-spacing: 5px;
    color:#333;
}
.blink {
    animation: blink 0.5s ease-in-out infinite;
    font-size:35px;
}
@keyframes blink {
    to {
        opacity: 0;
    }
}

/* ========== < 리액트 > ========== */
.project-wrap{
    width:88%;
    height:710px;
    display:flex;
    align-items: center;
    margin:120px auto 0;
}
/* ===== 사이트 설명 ===== */
.project-text{
    width:50%;
    height:100%;
    border:3px solid #674f80;
}
.text-hd{
    width:100%;
    height:13%;
    padding:20px 30px;
    border-bottom:3px solid #674f80;
    color:#674f80;
    display:flex;
    align-items: center;
}
.text-hd h1{
    font-size:2.45vw;
}
.text-hd-imfor{
    margin:0 20px;
    padding:7px 13px;
    background-color: #674f80;
    color:#fff;
    border-radius: 20px;
    font-size:1vw;
    font-weight: bold;
}
.text-main{
    width:100%;
    height:63.5%;
}
.textbox{
    height:65%;
    text-align: left;
    padding:3%;
}
.textbox ul{
    margin-left:20px;
    font-size:1.25vw;
}
.textbox>ul>li {
    list-style: disc;
    font-weight: bold;
    line-height:40px;
}
.textbox-btm{
    height:35%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.textbox-btm ul{
    font-size:1.2rem;
    text-align: left;
}
.monami-page{
    justify-content: space-evenly;
}
.monami-page{
    width:30%;
}
.monami-point{
    color:#c30606;
    font-size: 30px;
}
.colorbox{
    display:flex;
    justify-content: space-between;
}
.colorbox>div{
    height:12vh;
    padding:10px;
    border:2px solid #674f80;
}
.colorbox>div>.color{
    width:76%;
    height:55%;
    margin:0 auto 10px;
    border:2px solid #674f80;
}
.color-text{
    font-size:0.7vw;
}


/* ========== < 리액트 > ========== */
.react-colorbox {
    min-width:20vw;
    max-width: 21vw;
}
.react-colorbox>div{
    min-width:20%;
    max-width: 21%;
}
.react-colorbox>div>.color{
    min-width:2.7vw;
    max-width:3vw;
    height:60%;
}
@media (min-width : 1921px){
    .react-colorbox{
        width:21vw;
    }
    .react-colorbox>div{
        width:21%;
    }
    .react-colorbox>div>.color{
        width:3vw;
    }
}
.react-colorbox>div:nth-of-type(1)>.color{
    background-color: #444;
}
.react-colorbox>div:nth-of-type(2)>.color{
    background-color: #f6f6f6;
}
.react-colorbox>div:nth-of-type(3)>.color{
    background-color: #e9e9e9;
}
.react-colorbox>div:nth-of-type(4)>.color{
    background-color: #F57C00;
}

/* ========== < 팀플 > ========== */
.monami-colorbox {
    width:21vw;
}
.monami-colorbox>div{
    width:21%;
}
.monami-colorbox>div>.color{
    width:3vw;
    height:60%;
}
.monami-colorbox>div:nth-of-type(1)>.color{
    background-color: #222;
}
.monami-colorbox>div:nth-of-type(2)>.color{
    background-color: #f1f1f1;
}
.monami-colorbox>div:nth-of-type(3)>.color{
    background-color: #c40f39;
}
.monami-colorbox>div:nth-of-type(4)>.color{
    background-color: #63318a;
}

/* ========== < 밀리의서재 > ========== */
.millie-colorbox {
    width:21vw;
}
.millie-colorbox>div{
    width:21%;
}
.millie-colorbox>div>.color{
    width:3vw;
    height:60%;
}
.millie-colorbox>div:nth-of-type(1)>.color{
    background-color: #333;
}
.millie-colorbox>div:nth-of-type(2)>.color{
    background-color: #f7f7f7;
}
.millie-colorbox>div:nth-of-type(3)>.color{
    background-color: #FFEB60;
}
.millie-colorbox>div:nth-of-type(4)>.color{
    background-color: #FA9319;
}

/* ========== < 아웃백 > ========== */
.outback-colorbox {
    width:16vw;
}
.outback-colorbox>div{
    width:4.5vw;
}
.outback-colorbox>div>.color{
    width:3vw;
    height:60%;
}
.outback-colorbox>div:nth-of-type(1)>.color{
    background-color: #3F3F3F;
}
.outback-colorbox>div:nth-of-type(2)>.color{
    background-color:#fffafa;
}
.outback-colorbox>div:nth-of-type(3)>.color{
    background-color:#c30606;
}

/* ========== < 로미스토리 > ========== */
.romi-colorbox {
    width:25vw;
}
.romi-colorbox>div>.color{
    width:3vw;
    height:60%;
}
.romi-colorbox>div:nth-of-type(1)>.color{
    background-color: #ff6347;
}
.romi-colorbox>div:nth-of-type(2)>.color{
    background-color: #c4ab96;
}
.romi-colorbox>div:nth-of-type(3)>.color{
    background-color: #866849;
}
.romi-colorbox>div:nth-of-type(4)>.color{
    background-color:#af8989;
}
.romi-colorbox>div:nth-of-type(5)>.color{
    background-color:#d3d3d3;
}

.language{
    width:100%;
    height:12%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-top:3px solid #674f80;
    border-bottom:3px solid #674f80;
}
.language div{
    height:38px;
    padding:7px 13px;
    color:#674f80;
    font-weight: bold;
    border:2px solid #674f80;
    border-radius: 20px;
}

/* ===== "모니터, 아이폰" ===== */
.project-imgbox{
    width: 50%;
    height:100%;
    position: relative;
}
.project-pc-thumnail{
    position:absolute;
    top:170px;
    left:2.5vw;
}
.project-pc-thumnail>img{
    width:100%;
}
.project-pc-imgbox{
    width:93.5%;
    height:64.5%;
    margin:0 auto;
    overflow: hidden;
    position:absolute;
    top:4.4%;
    left:3.3%;
    cursor:n-resize;
}
.pc-hover-box{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(255,255,255,0.7);
    color:#674f80;
    font-weight: bold;
    font-size: 50px;
    line-height: 310px;
    z-index:2;
}
.project-pc-imgbox img{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.project-phone-thumnail{
    position:absolute;
    top:387px;
    /* right:8vw; */
    right:25%;
    z-index:3;
}
@media (min-width:1921px){
    .project-phone-thumnail{
        right:30%;
    }
}

.phonescreen{
    width:155px;
    position:absolute;
}
.project-phone-imgbox{
    width:143.5px;
    height:253px;
    overflow: hidden;
    position: absolute;
    top:37px;
    left:5.3px;
    cursor:n-resize;
}
.mobile-hover-box{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(255,255,255,0.7);
    color:#674f80;
    font-weight: bold;
    font-size: 40px;
    line-height: 240px;
    z-index:2;
}
.project-phone-imgbox img{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}


/* ===== "말풍선" ===== */
.speech-bubble{
    width:500px;
    height:180px;
    background:url(../img/bubble2.png) center / contain no-repeat;
    position:absolute;
    top:-10px;
    left:84px;
    text-align: left;
}
.react-bubble ul{
    width:460px;
    position:absolute;
    top:34px;
    left:23px;
}
.monami-bubble ul{
    width:460px;
    position:absolute;
    top:70px;
    left:28px;
}
.millie-bubble ul{
    width:460px;
    position:absolute;
    top:70px;
    left:28px;
}
.outback-bubble ul{
    width:460px;
    position:absolute;
    top:70px;
    left:28px;
}
.romi-bubble ul{
    width:460px;
    position:absolute;
    top:70px;
    left:28px;
}


/* ========== Contact ========== */
.contact h1{
    margin-top:135px;
    font-size:50px;
    font-family: 'SBAggroB';
    color:#333;
}
.contact h1:after{
    content:'';
    width:2px;
    height:160px;
    background-color: #333;
    display:block;
    position:absolute;
    top:28%;
    left:50%;
}
.contact-wrap{
    width:100%;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
}

.kakaobox img{
    width:90px;
    height:90px;
    margin-bottom:20px;
}
.kakaobox>p{
    position:relative;
}
.kakaobox>p:after{
    content: '';
    width: 320px;
    display: block;
    border-bottom: 2px solid #333;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    position: absolute;
    /* left: 21%; */
    /* left:7rem; */
    /* left:6vw; */
}
/* @media (min-width:1921px){
    .kakaobox>p:after{
        left:23%;
    }
} */
.kakaobox>p:hover {
    cursor: pointer;
}
.kakaobox>p:hover:after {
    transform: scaleX(1);
}
.contact-wrap>div{
    width:33.33%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contact-wrap>div>i{
    font-size:100px;
    margin-bottom:10px;
}
.contact-wrap>div>p{
    font-size:20px;
    display:inline-block;
}
.gitbox>p {
    position: relative;
}
.gitbox>p:after {
    content: '';
    width: 262px;
    display: block;
    border-bottom: 2px solid #333;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    position: absolute;
    /* left: 26%; */
    /* left:9rem; */
    /* left:7.5vw; */
}

/* @media (min-width:1921px){
    .gitbox>p:after{
        left:17%;
    }
} */
.gitbox>p:hover {
    cursor: pointer;
}
.gitbox>p:hover:after {
    transform: scaleX(1);
}

